<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAt6ZrfdFyWBs_AWKMi1TLWROaqmmnuAk</string>
	<key>GCM_SENDER_ID</key>
	<string>1053237837535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.ziggo.app</string>
	<key>PROJECT_ID</key>
	<string>ziggo-4eb54</string>
	<key>STORAGE_BUCKET</key>
	<string>ziggo-4eb54.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053237837535:ios:83c5f7de51ade3cef4b36a</string>
</dict>
</plist>